<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>"X" Marks the Spot</title>

    <!-- Bootstrap core CSS -->
    <link href="./resources/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styling -->
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!-- Google Maps API library -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Google Map -->
    <script>
        function initializeMap() {
            var map = new google.maps.Map(document.getElementById("googleMap"), {
                center: { lat: 0, lng: 0 },
                zoom: 1,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            map.addListener("center_changed", function () {
                var coords = map.getCenter();
                document.getElementById("lat").innerHTML = coords.lat();
                document.getElementById("lng").innerHTML = coords.lng();
                document.getElementById("mapCoords").className = "alert alert-info";
            });
        }
        google.maps.event.addDomListener(window, "load", initializeMap);
    </script>

    <!-- AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- OAuth.io -->
    <script src="./resources/oauth.min.js"></script>

    <!-- App & Controller -->
    <script>
        var app = angular.module("twitterApp", []);
    </script>
    <script src="./resources/tweetCtrl.js"></script>
</head>

<body ng-app="twitterApp" ng-controller="tweetCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="">"X Marks the Spot"</a>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div id="mapCoords" class="alert alert-info" role="alert">
                    <p class="text-center"><span id="lat">0</span>, <span id="lng">0</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row" ng-repeat="t in tweets">
                        <div class="col-sm-2">
                            <img ng-src="{{ t.user.profile_image_url }}" class="img-circle" />
                        </div>
                        <div class="col-sm-10">
                            <button>{{ t.place.full_name }}</button>
                            <p>{{t.place.bounding_box.coordinates}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="googleMap" style="width: 500px; height: 380px;"></div>
                </div>
            </div>
        </div>
    </div> <!-- jumbotron -->

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button ng-click="connectTwitter()" id="connectBtn" type="button" class="btn btn-primary" style="display: inline-block">Connect to Twitter</button>
            </div>
            <div class="col-md-4">
                <input id="qString" type="text" style="display: none" />
                <button ng-click="getPlaces()" id="placesBtn" type="button" class="btn btn-info" style="display: none">Get Places</button>
            </div>
            <div class="col-md-4">
                <button ng-click="signOut()" id="signOutBtn" type="button" class="btn btn-link" style="display: none">Sign Out</button>
            </div>
        </div>

        <hr />

        <footer>
            <p></p>
        </footer>
    </div> <!-- container -->
</body>
</html>